.detail_content{
    background-image: url("../images/backHome.jpg");
    background-size: cover;
    
}

.loadingVideo{
  position: absolute;
  
}

.button{
    text-align: center;
    user-select: none;
    margin: 15px 2px;
    font-size: 10px;
    width: 55px;
    padding: 0.5rem .3rem;
    text-decoration: none;
    border-radius: 0.1rem;
    border: 0.0625rem solid #d7d7d7; /* 1px */
    box-shadow: 6px 7px 8px -6px rgba(8, 8, 8, 0.7);
    color: rgb(250, 249, 249);
    background-color: rgb(13, 13, 14);
  }

  .button:hover, .button__active {
    text-align: center;
    user-select: none;
    margin: 20px 5px;
    font-size: 14px;
    width: 55px;
    padding: 0.5rem .3rem;
    text-decoration: none;
    border-radius: 0.1rem;
    border: 2px solid #d7d7d7; /* 2px */
    background-color: rgb(253, 255, 253);
    color: #131213;
    border-color: #111111;
    transform: scale(1.3,1.3);
  }


  .imageSize{
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }

  .logo {
    
    height: 300px;
    width: 330px;
    max-width: 50%;
  }

  .loading{
    height: 347px;
    width: 600px;
    object-fit: cover;
    padding-top: 15%;
  }